@import '_fonts';
$latoBold: 'Lato-Bold', sans-serif;
$latoRegular: 'Lato-Regular', sans-serif;
$PFDinTextCondPro: 'PF Din Text Cond Pro', sans-serif;
$KarlaRegular: 'Karla-Regular', sans-serif;
$blue: #2F80ED;
$green: #219653;
$black: #000000;
$white: #ffffff;
$grey:  #C4C4C4;